.ma {
  display: flex;
  justify-content: center;
}


.face-image {
  width: 400px;
  height: auto;
}

#bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #008cff inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}